<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="user">

    <insert id="insertUser" statementType="PREPARED" parameterType="org.imlsw96.board.vo.UserVO">
        insert into user (userid, password, repassword) values (#{userid},#{password},#{repassword})
    </insert>

    <select id="checkUser" statementType="PREPARED" parameterType="String" resultType="int">
        select count(userid) cnt from user where userid = #{userid}
    </select>
</mapper>